.mainBG{
    background-image: url("https://pacifictigers.com/images/2020/3/10/HomePlate3x3.jpg");
    background-size: cover;
    
}
.baseball{
    max-width: 250px;
    height: auto;
}

#title{
    color: blue;
    border-bottom:3px solid blue;
}

.card-bg{
    background: rgba(255, 255, 255, 0.7);
    border: 8px inset white;
   
}

